[submodule "modules/tempfile-rust"]
	path = references/tempfile-rust
	url = https://github.com/Stebalien/tempfile.git
[submodule "modules/temp-zig"]
	path = references/temp-zig
	url = https://github.com/abhinav/temp.zig
